<%- include ('../partials/head.html') %>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-12">
                <h1>Ver usuario</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="card card-warning p-0">
        <div class="card-header">
            <h3 class="card-title">Estado: WARNING</h3>
        </div>
        <div class="card-body row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" name="name" id="name"
                        value="<% if(user.name) { %> <%= user.name %> <% } %>" disabled>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" email="email" id="email"
                        value="<% if(user.email) { %> <%= user.email %> <% } %>" disabled>
                </div>

            </div>
            <div class="col-12 mt-5">
                <p class="text-xl">Viajes</p>
                <table id="dataTable" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Valor</th>
                            <th>Tiempo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% journeys.forEach((journey) => { %>
                        <tr>
                            <td><%= journey.getDate %></td>
                            <td>
                                <% if(journey.state === 0) { %>
                                <div class="badge badge-secondary">
                                    En proceso
                                </div>
                                <% } %>
                                <% if(journey.state === 1) { %>
                                <div class="badge badge-success">
                                    Pagado
                                </div>
                                <% } %>
                                <% if(journey.state === 2) { %>
                                <div class="badge badge-success">
                                    Con problemas
                                </div>
                                <% } %>
                            </td>
                            <% if(journey.state !== 0) { %>
                            <td>$ <%= journey.price %></td>
                            <% } %>
                            <% if(journey.state !== 0) { %>
                            <td><%= Math.trunc((journey.end - journey.start) / 1000 / 60) %> min.</td>
                            <% } %>
                        </tr>
                        <% })%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<script src="/js/admin/jquery.dataTables.min.js"></script>
<script src="/js/admin/dataTables.bootstrap4.min.js"></script>
<script src="/js/admin/dataTables.responsive.min.js"></script>
<script src="/js/admin/responsive.bootstrap4.min.js"></script>


<script>
    $('#dataTable').DataTable({
        "paging": true,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "autoWidth": false,
        "responsive": true,
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
        },
        "order": [
            [0, "asc"],
        ]
    });
</script>



<%- include ('../partials/footer.html') %>